<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lyz.iot.mapper.tdengine.DeviceTelemetryMapper">

    <insert id="insert">
        INSERT INTO device_telemetry_${t.deviceId}_${t.propertyId}_${t.tableDate} USING device_telemetry
        TAGS (#{t.deviceId}, #{t.productKey}, #{t.propertyId}, #{t.deviceName}, #{t.productName})
        VALUES (#{t.ts}, #{t.value}, #{t.valueType}, #{t.quality})
    </insert>

</mapper>
